.footer-main{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 220px;
  line-height: 25px;
}

.footer-main img{
  position: relative;
  top: 3.3px;
}