.section-project-marvol{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;


}
.project-main-marvol a{
  background: var(--darksoft);
  color: var(--greenprimary);
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  line-height: 55px;
  padding: 10px;
  -webkit-box-shadow: -5px 5px 0px -1px #FFFFFF;
  box-shadow: -5px 5px 0px -1px #FFFFFF;
}

.project-main-marvol{
  margin: 10px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
}



.frame {
width: 228px;
height: 319px;
background: white;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;

}

.frame img{
  width: 207px;
  height: 268px;
}