.project-main-marvol a{
  background: var(--darksoft);
  color: var(--greenprimary);
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  line-height: 55px;
  padding: 10px;
  -webkit-box-shadow: -5px 5px 0px -1px #FFFFFF;
  box-shadow: -5px 5px 0px -1px #FFFFFF;
}

.project-main-marvol{
  margin: 82px;
  font-size: 16px;
  font-weight: 400;
  width: 448px;
  height: 231px;
  margin-left: 32px;

}

.elipse-4{
  position: absolute;
  width: 400px;
  height: 400px;
  left: 966px;
  top: 2459px;

  background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
  backdrop-filter: blur(199px);
  z-index: -1;
}

.frame {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 60px;
  padding-right: 30px;
  background: white;
  border-radius: 8px;

}