.personal-information{
  display: flex;
}

.personal-presention{
  display: flex;
  flex-direction: column;
  inline-size: 543px;
  margin-block-start: 75px ;
}

.personal-presention h1{
  font-size: 59px;
  font-weight: 700;
  margin: 0;
}

.personal-presention h2{
  font-size: 49px;
  margin: 0;
}

.personal-presention p{
  font-size: 16px;
  font-weight: 400;
}

.social-network img{
  margin-inline-start: 8px;
}

.elipse{
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  left: -100px;
  top: 68px;
  opacity: 0.7;
  background: radial-gradient(50% 50% at 50% 50%, rgba(191, 53, 142, 0.5) 0%, rgba(191, 53, 142, 0) 100%);
  backdrop-filter: blur(199px);
  z-index: -1;
}

.elipse-2{
  position: absolute;
  width: 400px;
  height: 400px;
  left: 377px;
  top: 544px;
  border-radius: 50%;
  opacity: 0.7;
  background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
  backdrop-filter: blur(50px);
  z-index: -1;
}