.personal-information{
  display: flex;
  flex-direction: column-reverse;
}

.personal-img img {
  width: 314px;
  height: 299px;

}

.personal-img{
  display: flex;
  justify-content: center;
}

.personal-presention{
  display: flex;
  flex-direction: column;


}

.personal-presention h1{
  font-size: 59px;
  font-weight: 700;
  margin: 0;
}

.personal-presention h2{
  font-size: 49px;
  margin: 0;
}

.personal-presention p{
  font-size: 16px;
  font-weight: 400;
}

.social-network img{
  margin-inline-start: 8px;
}


